
<div class="p-x">
  <div class="row">
  	
  </div>
  <br>
  <div class="row">

<!-- 			  <div class="form-group  m-t-lg"> -->
<!-- 	          	<label class="col-xs-12 col-sm-12 text-uppercase">กรุณาเลือกรายชื่อ</label> -->
<!-- 	          	<div class="col-xs-12 col-sm-12"> -->
<!-- 	          		<div class="input-group"> -->
<!-- 			       		<select class="form-control" ng-model="patientProfile" -->
<!-- 			       				ng-change="selectPatient()" -->
<!-- 								ng-options="p as p.name for p in patient.data"> -->
<!-- 			     		</select> -->
<!-- 	          		</div> -->
<!-- 	          	</div> -->
<!-- 	          </div>  -->
				
				<div class="col-xs-12 col-sm-12">
					<button class="btn btn-md btn-danger m-t-lg full-w" ng-click="prevMenu()" ><i class="glyphicon glyphicon-backward"></i> กลับไปเมนูก่อนหน้า</button>
					<button class="btn btn-md btn-info m-t-lg full-w" ng-click="selectPatient(param.PATIENT_TXN_MENU['TXN_01'].infoCode);" >{{param.PATIENT_TXN_MENU['TXN_01'].infoTh}}</button>
					<button class="btn btn-md btn-info m-t-lg full-w" ng-click="selectPatient(param.PATIENT_TXN_MENU['TXN_02'].infoCode);" >{{param.PATIENT_TXN_MENU['TXN_02'].infoTh}}</button>
					<button class="btn btn-md btn-info m-t-lg full-w" ng-click="selectPatient(param.PATIENT_TXN_MENU['TXN_03'].infoCode);" >{{param.PATIENT_TXN_MENU['TXN_03'].infoTh}}</button>
					<button class="btn btn-md btn-info m-t-lg full-w" ng-click="selectPatient(param.PATIENT_TXN_MENU['TXN_04'].infoCode);" >{{param.PATIENT_TXN_MENU['TXN_04'].infoTh}}</button>
					<button class="btn btn-md btn-info m-t-lg full-w" ng-click="selectPatient(param.PATIENT_TXN_MENU['TXN_05'].infoCode);" >{{param.PATIENT_TXN_MENU['TXN_05'].infoTh}}</button>
				</div>
  </div>
</div>
