<!-- scripts loading -->
<!-- bower_components -->
<script src="./static/bower_components/jquery/dist/jquery.js?vxvision=9"></script>
<script src="./static/bower_components/angular/angular.js?vxvision=9"></script>
<script src="./static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js?vxvision=9"></script>
<script src="./static/bower_components/angular-animate/angular-animate.js?vxvision=9"></script>
<script src="./static/bower_components/angular-ui-router/release/angular-ui-router.js?vxvision=9"></script>
<script src="./static/bower_components/angular-sanitize/angular-sanitize.js?vxvision=9"></script>
<script src="./static/bower_components/angular-touch/angular-touch.js?vxvision=9"></script>
<script src="./static/bower_components/ngstorage/ngStorage.js?vxvision=9"></script>
<script src="./static/bower_components/angular-cookies/angular-cookies.js?vxvision=9"></script>
<script src="./static/bower_components/oclazyload/dist/ocLazyLoad.js?vxvision=9"></script>
<script src="./static/bower_components/angular-translate/angular-translate.js?vxvision=9"></script>
<script src="./static/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js?vxvision=9"></script>
<script src="./static/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js?vxvision=9"></script>
<script src="./static/bower_components/angular-translate-storage-local/angular-translate-storage-local.js?vxvision=9"></script>
<script src="./static/bower_components/d3/d3.min.js?vxvision=9"></script>
<script src="./static/bower_components/n3-line-chart/build/line-chart.js?vxvision=9"></script>
<script src="./static/bower_components/lodash/lodash.js?vxvision=9"></script>
<script src="./static/bower_components/angular-toastr/dist/angular-toastr.tpls.js?vxvision=9"></script>
<script src="./static/bower_components/angular-mocks/angular-mocks.js?vxvision=9"></script>
<script src="./static/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.js?vxvision=9"></script>

<script src="./static/bower_components/angular-permission/dist/angular-permission.min.js?vxvision=9"></script>
<script src="./static/bower_components/angular-permission/dist/angular-permission-ui.min.js?vxvision=9"></script>
<script src="./static/bower_components/fastclick/lib/fastclick.js?vxvision=9"></script>
