		<div class="form-group text-left">
			<label class="col-sm-2 bold control-label">{{param.TX_QUESTION.E_01.infoTh}}</label>
			<div class="col-sm-10">
				<div class="radio">
				  <label><input type="radio" ng-disabled="!checkPermission('ROLE_PATIEN')" ng-model="txn.eAns1" ng-value="param.E_01.A_01.infoCode">{{param.E_01.A_01.infoTh}}</label>
				</div>
				<div class="radio">
				  <label><input type="radio" ng-disabled="!checkPermission('ROLE_PATIEN')" ng-model="txn.eAns1" ng-value="param.E_01.A_02.infoCode">{{param.E_01.A_02.infoTh}}</label>
				</div>
				<div class="radio">
				  <label><input type="radio" ng-disabled="!checkPermission('ROLE_PATIEN')" ng-model="txn.eAns1" ng-value="param.E_01.A_03.infoCode">{{param.E_01.A_03.infoTh}}</label>
				</div>
				<div class="radio">
				  <label><input type="radio" ng-disabled="!checkPermission('ROLE_PATIEN')" ng-model="txn.eAns1" ng-value="param.E_01.A_04.infoCode">{{param.E_01.A_04.infoTh}}</label>
				</div>
				<div class="input">
					<input type="text" placeholder="" name="eAns1Descp" ng-show="'A_04'==txn.eAns1" ng-disabled="!checkPermission('ROLE_PATIEN')" ng-model="txn.eAns1Descp">
				</div>
			</div>
		</div>
